# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/
*.session.sql

# System Files
.DS_Store
Thumbs.db

# env
.env

#builds
/server/main
/streams/main
/queues/main
/main
/tmp
/gin-bin
/test.go

#tmp
/.vol
/server/.vol
/server/pages/tmp
/.storage