// breakpoints
$screen-s: 764px;
$screen-md: 1024px;
$screen-l: 1366px;
$screen-lg: 1536px;

// colors
$black: #000;
$gray: #EAECF0;
$gray-dark: #54595D;
$white: #fff;
$red: #F11069;
$blue: #343BFB;
$blue-dark: #2A2FC9;
