.form {
  &__wrapper {
    position: relative;
  }

  &__description {
    font-weight: 400;
        
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-bottom: 37px;
    margin-top: 42px;
    
    @include s {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }

  &__input {
    border: 0;
    border-bottom: 1px solid #D1D1D1;
    height: 40px;
    width: 100%;
    outline: 0;
  }

  &__item {
    & + & {
      margin-top: 24px;

      @include s {
        margin-top: 15px;
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .8);
    z-index: 1;

    &:after {
      content: '';
      width: 252px;
      height: 69px;
      background-image: url(/images/loader.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -126px;
      margin-top: -45px;
      animation: loader 2s infinite;
    }
  }
}

@keyframes loader {
  0%   {opacity: 0}

  35% {opacity: 1}
  65% {opacity: 1}

  100% {opacity: 0}
}
