.header {
  height: 113px;
  background-color: $gray;

  position: fixed;
  z-index: 100;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;

  &__logo {
    width: 252px;
    height: 69px;
    cursor: pointer;
    margin: 0 auto;
  }

  &__wrapper {
    height: 100%;
  }
}
