.h1 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.01em;
  margin-top: 0;
  margin-bottom: 30px;

  @include s {
    font-size: 22px;
    line-height: 28px;
  }
}

.h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  margin-top: 0;
}

.h3 {
  font-family: Helvetica Neue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
  margin: 30px 0 5px;
}

.paragraph {
  margin-top: 0;

  & + & {
    margin-top: 30px;
  }
  a {
    color: $black;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}
