# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/

# System Files
.DS_Store
Thumbs.db

# env
.env

# volumes
.storage

#builds
/main
/okapi-public-api
/gin-bin
